@{
    var status = Context.Request.Query["status"];
    string inProcess = "text-light";
    string pending = "text-light";
    string completed = "text-light";
    string all = "text-light";

    switch (status)
    {
        case "inProcess":
            inProcess = "active text-white";
            break;
        case "pending":
            pending = "active text-white";
            break;
        case "completed":
            completed = "active text-white";
            break;
        case "all":
            all = "active text-white";
            break;


    }
}

<div class="p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-info">Order List</h2>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item @inProcess">
                    <a class="@inProcess" style="text-decoration:none;"
                       asp-controller="Order" asp-action="Index"
                       asp-route-status="inProcess">
                        In Process
                    </a>
                </li>
                <li class="list-group-item @pending">
                    <a class="@pending" style="text-decoration:none"
                       asp-controller="Order" asp-action="Index"
                       asp-route-status="pending">
                        Payment Pending
                    </a>
                </li>
                <li class="list-group-item @completed">
                    <a class="@completed" style="text-decoration:none"
                       asp-controller="Order" asp-action="Index"
                       asp-route-status="completed">
                        Completed
                    </a>
                </li>
                <li class="list-group-item @all">
                    <a class="@all" style="text-decoration:none"
                       asp-controller="Order" asp-action="Index"
                       asp-route-status="all">
                        All
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <table id="dataTable" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Order Status</th>
                <th>Order Total</th>
                <th width="24%"></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{

    <script src="~/js/order.js"></script>

}